@using Globals
@model Domain.ListItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ListItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<EPriorityLevel>()" class="form-control"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueAt" class="control-label"></label>
                <input asp-for="DueAt" class="form-control" />
                <span asp-validation-for="DueAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskListId" class="control-label"></label>
                <select asp-for="TaskListId" class="form-control" asp-items="ViewBag.TaskListId"></select>
                <span asp-validation-for="TaskListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentItemId" class="control-label"></label>
                <select asp-for="ParentItemId" class="form-control" asp-items="ViewBag.ParentItemId">
                    <option value="">-- Select parent todo --</option>
                </select>
                <span asp-validation-for="ParentItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
